$black: #111;
$white: #ffd;
$background: #333;
$ruby: #d22;

body {
  background-color: $black;
  color: $white;
}

header {
  .chan { color: $white; }
  .gems { color: $ruby; }
}

#main {
  background-color: $background;

  .flash {
    background-color: $white;
    color: $black;
    font-weight: bold;

    &#alert {
      background-color: $ruby;
      color: $white;
    }
  }
}

a, a:visited {
  color: $ruby;
  font-weight: bold;
}
